In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# Load csv with school data
school_data= pd.read_csv('school-profile-2008-2021.csv')
school_data.head()

,Calendar Year,ACARA SML ID,Location AGE ID,School AGE ID,School Name,Suburb,State,Postcode,School Sector,School Type,...,Non-Teaching Staff,Full Time Equivalent Non-Teaching Staff,Total Enrolments,Girls Enrolments,Boys Enrolments,Full Time Equivalent Enrolments,Indigenous Enrolments (%),Language Background Other Than English - Yes (%),Language Background Other Than English - No (%),Language Background Other Than English - Not Stated (%)
0,2013,50122,47943.0,7943.0,Tipperary Station School,Tipperary,NT,822,Government,Primary,...,1.0,0.5,6.0,2.0,4.0,6.0,0.0,0.0,100.0,0.0
1,2015,43785,42021.0,2021.0,Sydney Grammar School,Darlinghurst,NSW,2010,Independent,Combined,...,90.0,77.7,1860.0,0.0,1860.0,1860.0,0.0,24.0,58.0,18.0
2,2013,43785,42021.0,2021.0,Sydney Grammar School,Darlinghurst,NSW,2010,Independent,Combined,...,93.0,77.2,1855.0,0.0,1855.0,1855.0,NaN,28.0,61.0,11.0
3,2016,43785,42021.0,2021.0,Sydney Grammar School,Darlinghurst,NSW,2010,Independent,Combined,...,86.0,75.6,1855.0,0.0,1855.0,1855.0,NaN,24.0,59.0,18.0
4,2014,43785,42021.0,2021.0,Sydney Grammar School,Darlinghurst,NSW,2010,Independent,Combined,...,92.0,80.0,1853.0,0.0,1853.0,1853.0,0.0,27.0,58.0,15.0

In [3]:
# Review columns for relevance
list(school_data.columns)

['Calendar Year',
 'ACARA SML ID',
 'Location AGE ID',
 'School AGE ID',
 'School Name',
 'Suburb',
 'State',
 'Postcode',
 'School Sector',
 'School Type',
 'Campus Type',
 'Rolled Reporting Description',
 'School URL',
 'Governing Body',
 'Governing Body URL',
 'Year Range',
 'Geolocation',
 'ICSEA',
 'ICSEA Percentile',
 'Bottom SEA Quarter (%)',
 'Lower Middle SEA Quarter (%)',
 'Upper Middle SEA Quarter (%)',
 'Top SEA Quarter (%)',
 'Teaching Staff',
 'Full Time Equivalent Teaching Staff',
 'Non-Teaching Staff',
 'Full Time Equivalent Non-Teaching Staff',
 'Total Enrolments',
 'Girls Enrolments',
 'Boys Enrolments',
 'Full Time Equivalent Enrolments',
 'Indigenous Enrolments (%)',
 'Language Background Other Than English - Yes (%)',
 'Language Background Other Than English - No (%)',
 'Language Background Other Than English - Not Stated (%)']

In [11]:
# Remove superflus columns
school_data = school_data[['Calendar Year',
 'School Name',
 'State',
 'School Type',
 'ICSEA',
 'ICSEA Percentile',
 'Full Time Equivalent Teaching Staff',
 'Full Time Equivalent Enrolments']]
school_data.head()

,Calendar Year,School Name,State,School Type,ICSEA,ICSEA Percentile,Full Time Equivalent Teaching Staff,Full Time Equivalent Enrolments
6,2021,Sydney Grammar School,NSW,Combined,1281.0,99.0,202.1,1895.0
24,2021,James Ruse Agricultural High School,NSW,Secondary,1245.0,99.0,60.6,854.5
50,2021,Perth Modern School,WA,Secondary,1237.0,99.0,95.3,1440.0
56,2021,St Aloysius' College,NSW,Combined,1235.0,99.0,110.6,1277.0
94,2021,Queensland Academy for Science Mathematics and...,QLD,Secondary,1224.0,99.0,98.5,1237.6

In [12]:
# Remove rows with null data
school_data.dropna(how='any',inplace=True)

C:\Users\Carol's PC\AppData\Local\Temp\ipykernel_14492\2641378391.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_data.dropna(how='any',inplace=True)

In [13]:
# Remove school profiles from the previous years
current_school_data = school_data.loc[school_data["Calendar Year"] == 2021]
current_school_data

,Calendar Year,School Name,State,School Type,ICSEA,ICSEA Percentile,Full Time Equivalent Teaching Staff,Full Time Equivalent Enrolments
6,2021,Sydney Grammar School,NSW,Combined,1281.0,99.0,202.1,1895.0
24,2021,James Ruse Agricultural High School,NSW,Secondary,1245.0,99.0,60.6,854.5
50,2021,Perth Modern School,WA,Secondary,1237.0,99.0,95.3,1440.0
56,2021,St Aloysius' College,NSW,Combined,1235.0,99.0,110.6,1277.0
94,2021,Queensland Academy for Science Mathematics and...,QLD,Secondary,1224.0,99.0,98.5,1237.6
...,...,...,...,...,...,...,...,...
123858,2021,Amoonguna School,NT,Primary,355.0,0.0,1.0,20.0
123874,2021,Carinity Education - Rockhampton,QLD,Special,228.0,0.0,20.4,246.0
123877,2021,Mapuru Yirralka College,NT,Combined,175.0,0.0,6.0,62.0
123884,2021,Mian School,NSW,Special,100.0,0.0,7.9,17.0
123887,2021,Deception Bay Flexible Learning Centre,QLD,Special,100.0,0.0,11.4,128.8

In [14]:
# Remove school profiles with the type special
current_school_data = current_school_data.loc[school_data["School Type"] != "Special"]
current_school_data

,Calendar Year,School Name,State,School Type,ICSEA,ICSEA Percentile,Full Time Equivalent Teaching Staff,Full Time Equivalent Enrolments
6,2021,Sydney Grammar School,NSW,Combined,1281.0,99.0,202.1,1895.0
24,2021,James Ruse Agricultural High School,NSW,Secondary,1245.0,99.0,60.6,854.5
50,2021,Perth Modern School,WA,Secondary,1237.0,99.0,95.3,1440.0
56,2021,St Aloysius' College,NSW,Combined,1235.0,99.0,110.6,1277.0
94,2021,Queensland Academy for Science Mathematics and...,QLD,Secondary,1224.0,99.0,98.5,1237.6
...,...,...,...,...,...,...,...,...
123844,2021,Tjuntjuntjara Remote Community School,WA,Combined,392.0,0.0,4.0,29.0
123852,2021,Titjikala School,NT,Combined,375.0,0.0,3.0,28.0
123855,2021,Yipirinya School,NT,Combined,369.0,0.0,8.4,108.0
123858,2021,Amoonguna School,NT,Primary,355.0,0.0,1.0,20.0
123877,2021,Mapuru Yirralka College,NT,Combined,175.0,0.0,6.0,62.0

In [15]:
# Confirm output file and export data into a csv
output_csv='clean_school_data.csv'

current_school_data.to_csv(output_csv,header=True,index=False)